@model Dictionary<DDWA.Models.Depot, Dictionary<DDWA.Models.DrugType, List<DDWA.ViewModels.DepotDrugUnitView>>>
@{
    ViewBag.Title = "Weight";
}

<h2>Weight</h2>

<table class="table-bordered text-center">
    @{int i = 0; }
    @foreach (var d in Model)
    {
        <tr>
            <td><h3>   @d.Key.DepotName </h3></td>
            <td colspan="2"><h3>   @d.Key.Country.CountryName</h3></td>

            @if (d.Value.Count() > 0)
            {

                foreach (var t in d.Value)
                {
                    <tr>
                        <td><p> @t.Key.DrugTypeName </p></td>
                        <td><p> @t.Value.Count * @t.Key.DrugTypeWeight / 2.2 = @(ViewBag.ValueList[i++].ToString("#.##")) kg</p></td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3"><p>The list of drug units is empty</p></td></tr>
            }
            </tr>
    }
</table>