<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Drugs App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    @Html.ActionLink("Drug App", "Index", "Home")
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Drug units", "Index", "Home")</li>
                <li>@Html.ActionLink("Depots_1", "Depots", "Home")</li>
                <li>@Html.ActionLink("Depots_2", "Depots2", "Home")</li>
                <li>@Html.ActionLink("Pick for sending", "PickDrugUnits", "Home")</li>
                <li>@Html.ActionLink("Weight", "Weight", "Home")</li>
            </ul>
        </div>
    </nav>


    <div class="container">
            @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Drugs App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>